# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# IDE
.idea/
.vscode/
*.iml

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Generated
*.log

# Installer outputs optional
Output/
*.exe